CAO points Analysis 2021

10% A clear and concise overview of how to load CAO points information from the
CAO website into a pandas data frame pitched as your classmates.

20% A detailed comparison of CAO points in 2019, 2020, and 2021 using the functionality in pandas.

10% Appropriate plots and other visualisations to enhance your notebook for viewers.

# Conversion of raw HTML into CSV format
---
For this task I will firstly be using the regular expressions module to fetch the cao data from the cao website and then using this data I can then create a sequence of characters that will define a pattern for complex string matching (https://realpython.com/regex-python/) that will match the cao points data that I require.

In [3]:
import requests as rq
import re
import pandas as pd
import urllib.request as urlrq
import datetime as dt

In [4]:
# Get the current date and time.
now = dt.datetime.now()

# Format as a string. year/month/day and hour, minute,second
nowstr = now.strftime('%Y%m%d_%H%M%S')

# CAO points 2021

http://www.cao.ie/index.php?page=points&p=2021

In [25]:
# Fetch the CAO points URL.
url2021 = 'http://www.cao.ie/index.php?page=points&p=2021'
resp = rq.get('http://www.cao.ie/index.php?page=points&p=2021')

In [34]:
#create a file path for original date
#pathhtml = 'cao/data2021_' + nowstr + '.html'
pathhtml = 'data/url2021' + nowstr + '.html'

In [27]:
# The server uses the wrong encoding, to fix it.
original_encoding = resp.encoding
#error with encoding!
# needs to be changed to cp1252.
resp.encoding = 'cp1252'

In [28]:
# Save the original html file to text file
with open(pathhtml, 'w') as f:
    f.write(resp.text)

In [29]:
url = "http://www.cao.ie/index.php?page=points&p=2021"

r = rq.get(url2021)
#with open('file.txt', 'w') as file:
with open(pathhtml, 'w') as f:
    file.write(resp.text)

NameError: name 'file' is not defined

In [30]:
urlrq.urlretrieve("http://www2.cao.ie/points/l8.php", "test.txt" )

('test.txt', <http.client.HTTPMessage at 0x1bd34674ca0>)

# Save original file

In [31]:
urlrq.urlretrieve ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx' , 'test.txt')

('test.txt', <http.client.HTTPMessage at 0x1bd34674970>)

In [12]:
df = pd.read_excel ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx', skiprows =11)

In [13]:
df

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
0,Engineering and engineering trades,Music and Instrument Technology,AL605,211,NaN,NaN,NaN,211,NaN,319,6,Athlone Institute of Technology,NaN,NaN,NaN
1,Health,Pharmacy Technician,AL630,308,NaN,NaN,NaN,308,NaN,409,6,Athlone Institute of Technology,NaN,NaN,NaN
2,Health,Dental Nursing,AL631,311,NaN,NaN,NaN,311,NaN,400,6,Athlone Institute of Technology,NaN,NaN,NaN
3,Biological and related sciences,Applied Science,AL632,297,NaN,NaN,NaN,297,NaN,454,6,Athlone Institute of Technology,NaN,NaN,NaN
4,Business and administration,Business,AL650,AQA,NaN,AQA,NaN,AQA,NaN,351,6,Athlone Institute of Technology,NaN,avp,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,Information and Communication Technologies (ICTs),Creative Computing,WD211,270,NaN,NaN,NaN,270,NaN,392,8,Waterford Institute of Technology,NaN,NaN,NaN
1447,Personal services,Recreation and Sport Management,WD212,262,NaN,NaN,NaN,262,NaN,304,8,Waterford Institute of Technology,NaN,NaN,NaN
1448,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,230,NaN,230,NaN,230,NaN,361,8,Waterford Institute of Technology,NaN,avp,NaN
1449,Welfare,Early Childhood Care and Education,WD231,266,NaN,NaN,NaN,266,NaN,366,8,Waterford Institute of Technology,NaN,NaN,NaN
1450,Business and administration,Business Information Systems,WD232,261,NaN,261,NaN,261,NaN,329,8,Waterford Institute of Technology,NaN,avp,NaN

In [14]:
#spot check of random row from data downloaded checking rows -13 to find
df.iloc [269]

CATEGORY (ISCED Description)                           Health
Course Title                            Mental Health Nursing
Course Code                                             CK720
R1 Points                                                 455
R1 Random                                                 NaN
R2 Points                                                 452
R2 Random                                                 NaN
EOS Points                                                452
EOS Random                                                NaN
EOS Midpoints                                             467
Course Level                                                8
HEI                             University College Cork (NUI)
Test/Interview                                            NaN
AVP                                                       NaN
v                                                         NaN
Name: 269, dtype: object

In [15]:
#check last row of data
df.iloc [1437]

CATEGORY (ISCED Description)          Business and administration
Course Title                          Marketing and Digital Media
Course Code                                                 WD193
R1 Points                                                     279
R1 Random                                                     NaN
R2 Points                                                     NaN
R2 Random                                                     NaN
EOS Points                                                    279
EOS Random                                                    NaN
EOS Midpoints                                                 358
Course Level                                                    8
HEI                             Waterford Institute of Technology
Test/Interview                                                NaN
AVP                                                           NaN
v                                                             NaN
Name: 1437, dtype: object

In [16]:
#fetching cao data from website
resp = rq.get ("http://www2.cao.ie/points/l8.php")
# check request, http code 200 means request has succeeded 
resp

In [17]:
# Loop through thr lines of the content fetched from cao website
#for line in resp.iter_lines():
    #print (line)

In [18]:

# Compile the regular expression for matching lines.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

# CAO points 2020

https://www.cao.ie/index.php?page=points&p=2020

In [19]:
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [20]:
# Create a file path for the original data.
pathxlsx = 'data/cao2020_' + nowstr + '.xlsx'

In [21]:
urlrq.urlretrieve(url2020, pathxlsx)

('data/cao2020_20211213_202511.xlsx',
 <http.client.HTTPMessage at 0x1bd34678c40>)

In [22]:
# Download and parse the excel spreadsheet.
df2020 = pd.read_excel(url2020, skiprows=10)

In [23]:
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CAO points 2019

https://www.cao.ie/index.php?page=points&p=2019

In [84]:
import camelot

In [92]:
tables = camelot.read_pdf('lvl8_19.pdf')
tables
tables.export('lvl8_19.csv', f='csv', compress=True) # json, excel, html, markdown, sqlite
tables[0]
#Table shape=(7, 7)
tables[0].parsing_report
{
    'accuracy': 99.02,
    'whitespace': 12.24,
    'order': 1,
    'page': 1
}
tables[0].to_csv('lvl8_19.pdf') # to_json, to_excel, to_html, to_markdown, to_sqlite
tables[0].df # get a pandas DataFrame!


#url2019 = 'http://www2.cao.ie/points/lvl8_19.pdf'

#url2019 ='https://www.irishtimes.com/polopoly_fs/1.3987209.1565878557!/menu/standard/file/cao2019.pdf'

,0,1,2,3
0,Course Code INSTITUTION and COURSE,,EOS,Mid
1,,Athlone Institute of Technology,,
2,AL801,Software Design with Virtual Reality and Gaming,304,328
3,AL802,Software Design with Cloud Computing,301,306
4,AL803,Software Design with Mobile Apps and Connected...,309,337
5,AL805,Network Management and Cloud Infrastructure,329,442
6,AL810,Quantity Surveying,307,349
7,AL820,Mechanical and Polymer Engineering,300,358
8,AL830,General Nursing,410,429
9,AL832,Psychiatric Nursing,387,403
10,AL836,Nutrition and Health Science,352,383
11,AL837,Sports Science with Exercise Physiology,351,392
12,AL838,Biotechnology,302,372
13,AL839,Microbiology,322,371
14,AL840,Pharmaceutical Sciences,328,411
15,AL841,Athletic and Rehabilitation Therapy,423,430
16,AL842,Bioveterinary Science,310,366
17,AL843,Physical Activity and Health Science,310,330
18,AL850,Business,307,356
19,AL851,Business and Law,301,341
20,AL852,Accounting (with optional placement),290,346
21,AL853,Accounting and Law,305,320
22,AL855,Hospitality Management (with International pla...,312,357
23,AL857,Digital Marketing,300,360
24,AL860,Social Care Practice,309,338
25,AL861,Animation and Illustration (portfolio),#615,899
26,AL863,Graphic and Digital Design (portfolio),#703,898
27,AL864,Early Years Care and Education,307,348
28,AL870,Applied Psychology,409,445
29,,"Institute of Technology, Carlow",,
30,CW018,"Business (options, Wexford)",327,349
31,CW028,Early Childhood Education and Care (Wexford),252,308
32,CW038,"Art (portfolio, Wexford)",#700,700
33,CW058,Tourism and Event Management (Wexford),252,262
34,CW068,Applied Social Studies - Professional Social C...,251,280
35,CW078,Sustainable Farm Management and Agribusiness (...,266,320
36,CW088,Visual Communications and Design (Wexford),309,345
37,CW108,Science (options),261,326
38,CW128,Brewing and Distilling,271,298
39,CW178,Sport Science (options),399,424
40,CW188,Sport Rehabilitation and Athletic Therapy,454,473
41,CW208,Computer Games Development,281,338
42,CW238,Software Development,300,343
43,CW248,Information Technology Management,307,357

In [80]:
resp = rq.get('https://www.irishtimes.com/polopoly_fs/1.3987209.1565878557!/menu/standard/file/cao2019.pdf')

In [81]:
resp

In [82]:
#create a file path for original date
#pathhtml = 'cao/data2021_' + nowstr + '.html'
path2019 = 'data/url2019' + nowstr + '.html'

In [74]:
original_encoding = resp.encoding
resp.encoding = 'UTF8'

In [83]:
# Save the original html file to text file
with open(path2019, 'w') as f:
    f.write(resp.text)

UnicodeEncodeError: 'charmap' codec can't encode characters in position 10-13: character maps to <undefined>

In [ ]:
urlrq.urlretrieve("https://www.irishtimes.com/polopoly_fs/1.3987209.1565878557!/menu/standard/file/cao2019.pdf", "file.txt" )

In [76]:
df2019 = pd.read_csv (path2019, encoding = 'UFT8')
#df2019 = pd.read_csv ('http://www2.cao.ie/points/lvl8_19.pdf' sep = '\t')

LookupError: unknown encoding: uft8

In [ ]:
df2019

References

Encoding error - backing up data video https://web.microsoftstream.com/video/ae6d6edd-e6f4-4201-9fe3-7a6cf06eea9d?referrer=https:%2F%2Flearnonline.gmit.ie%2F

Camelot -https://pypi.org/project/camelot-py/