CAO points Analysis 2021

10% A clear and concise overview of how to load CAO points information from the
CAO website into a pandas data frame pitched as your classmates.

20% A detailed comparison of CAO points in 2019, 2020, and 2021 using the functionality in pandas.

10% Appropriate plots and other visualisations to enhance your notebook for viewers.

# Conversion of raw HTML into CSV format
---
For this task I will firstly be using the regular expressions module to fetch the cao data from the cao website and then using this data I can then create a sequence of characters that will define a pattern for complex string matching (https://realpython.com/regex-python/) that will match the cao points data that I require.

In [1]:
import requests as rq
import re
import pandas as pd
import urllib.request as urlrq
import datetime as dt

In [2]:
# Get the current date and time.
now = dt.datetime.now()

# Format as a string.
nowstr = now.strftime('%Y%m%d_%H%M%S')

# CAO points 2021

http://www.cao.ie/index.php?page=points&p=2021

In [42]:
# Fetch the CAO points URL.
url2021 = 'http://www.cao.ie/index.php?page=points&p=2021'
#resp = rq.get('http://www.cao.ie/index.php?page=points&p=2021')

In [61]:
#create a file path for original date
#pathhtml = 'cao/data2021_' + nowstr + '.html'
pathhtml = 'url2021' + nowstr + '.html'

In [62]:
# The server uses the wrong encoding, to fix it.
original_encoding = resp.encoding

# Change to cp1252.
resp.encoding = 'cp1252'

In [64]:
# Save the original html file.
with open(pathhtml, 'w') as f:
    f.write(resp.text)

In [65]:
url = "http://www.cao.ie/index.php?page=points&p=2021"

r = rq.get(url2021)
#with open('file.txt', 'w') as file:
with open(pathhtml, 'w') as f:
    file.write(resp.text)

ValueError: I/O operation on closed file.

In [58]:
urlrq.urlretrieve("http://www2.cao.ie/points/l8.php", "test.txt" )

('test.txt', <http.client.HTTPMessage at 0x2662cb8ad60>)

# Save original file

In [47]:
urlrq.urlretrieve ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx' , 'test.txt')

('test.txt', <http.client.HTTPMessage at 0x2662cbaaf10>)

In [48]:
df = pd.read_excel ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx', skiprows =11)

In [49]:
df

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
0,Engineering and engineering trades,Music and Instrument Technology,AL605,211,NaN,NaN,NaN,211,NaN,319,6,Athlone Institute of Technology,NaN,NaN,NaN
1,Health,Pharmacy Technician,AL630,308,NaN,NaN,NaN,308,NaN,409,6,Athlone Institute of Technology,NaN,NaN,NaN
2,Health,Dental Nursing,AL631,311,NaN,NaN,NaN,311,NaN,400,6,Athlone Institute of Technology,NaN,NaN,NaN
3,Biological and related sciences,Applied Science,AL632,297,NaN,NaN,NaN,297,NaN,454,6,Athlone Institute of Technology,NaN,NaN,NaN
4,Business and administration,Business,AL650,AQA,NaN,AQA,NaN,AQA,NaN,351,6,Athlone Institute of Technology,NaN,avp,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,Information and Communication Technologies (ICTs),Creative Computing,WD211,270,NaN,NaN,NaN,270,NaN,392,8,Waterford Institute of Technology,NaN,NaN,NaN
1447,Personal services,Recreation and Sport Management,WD212,262,NaN,NaN,NaN,262,NaN,304,8,Waterford Institute of Technology,NaN,NaN,NaN
1448,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,230,NaN,230,NaN,230,NaN,361,8,Waterford Institute of Technology,NaN,avp,NaN
1449,Welfare,Early Childhood Care and Education,WD231,266,NaN,NaN,NaN,266,NaN,366,8,Waterford Institute of Technology,NaN,NaN,NaN
1450,Business and administration,Business Information Systems,WD232,261,NaN,261,NaN,261,NaN,329,8,Waterford Institute of Technology,NaN,avp,NaN

In [50]:
#spot check of random row from data downloaded checking rows -13 to find
df.iloc [269]

CATEGORY (ISCED Description)                           Health
Course Title                            Mental Health Nursing
Course Code                                             CK720
R1 Points                                                 455
R1 Random                                                 NaN
R2 Points                                                 452
R2 Random                                                 NaN
EOS Points                                                452
EOS Random                                                NaN
EOS Midpoints                                             467
Course Level                                                8
HEI                             University College Cork (NUI)
Test/Interview                                            NaN
AVP                                                       NaN
v                                                         NaN
Name: 269, dtype: object

In [51]:
#check last row of data
df.iloc [1437]

CATEGORY (ISCED Description)          Business and administration
Course Title                          Marketing and Digital Media
Course Code                                                 WD193
R1 Points                                                     279
R1 Random                                                     NaN
R2 Points                                                     NaN
R2 Random                                                     NaN
EOS Points                                                    279
EOS Random                                                    NaN
EOS Midpoints                                                 358
Course Level                                                    8
HEI                             Waterford Institute of Technology
Test/Interview                                                NaN
AVP                                                           NaN
v                                                             NaN
Name: 1437, dtype: object

In [66]:
#fetching cao data from website
resp = rq.get ("http://www2.cao.ie/points/l8.php")
# check request, http code 200 means request has succeeded 
resp

In [40]:
# Loop through thr lines of the content fetched from cao website
#for line in resp.iter_lines():
    #print (line)

In [52]:

# Compile the regular expression for matching lines.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

# CAO points 2020

https://www.cao.ie/index.php?page=points&p=2020

In [9]:
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [10]:
# Create a file path for the original data.
pathxlsx = 'data/cao2020_' + nowstr + '.xlsx'

In [11]:
urlrq.urlretrieve(url2020, pathxlsx)

('data/cao2020_20211211_174930.xlsx',
 <http.client.HTTPMessage at 0x2662c280490>)

In [12]:
# Download and parse the excel spreadsheet.
df2020 = pd.read_excel(url2020, skiprows=10)

In [13]:
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CAO points 2019

https://www.cao.ie/index.php?page=points&p=2019

In [55]:
#df2019 = pd.read_csv('data/cao2019_20211029_113930_edited.csv', sep='\t')
df2019 = pd.read_csv ('http://www2.cao.ie/points/lvl8_19.pdf', sep='\t')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb5 in position 11: invalid start byte

In [54]:
df2019

NameError: name 'df2019' is not defined