CAO points Analysis 2021

10% A clear and concise overview of how to load CAO points information from the
CAO website into a pandas data frame pitched as your classmates.

20% A detailed comparison of CAO points in 2019, 2020, and 2021 using the functionality in pandas.

10% Appropriate plots and other visualisations to enhance your notebook for viewers.

# Conversion of raw HTML into CSV format
---
For this task I will firstly be using the regular expressions module to fetch the cao data from the cao website and then using this data I can then create a sequence of characters that will define a pattern for complex string matching (https://realpython.com/regex-python/) that will match the cao points data that I require.

In [1]:
import requests as rq
import re
import pandas as pd
import urllib.request as urlrq
import datetime as dt

In [2]:
# Get the current date and time.
now = dt.datetime.now()

# Format as a string. year/month/day and hour, minute,second
nowstr = now.strftime('%Y%m%d_%H%M%S')

# CAO points 2021

http://www.cao.ie/index.php?page=points&p=2021

In [3]:
# Fetch the CAO points URL.
url2021 = 'http://www.cao.ie/index.php?page=points&p=2021'
resp = rq.get('http://www.cao.ie/index.php?page=points&p=2021')

In [4]:
#create a file path for original date
#pathhtml = 'cao/data2021_' + nowstr + '.html'
pathhtml = 'data/url2021' + nowstr + '.html'

In [5]:
# The server uses the wrong encoding, to fix it.
original_encoding = resp.encoding
#error with encoding!
# needs to be changed to cp1252.
resp.encoding = 'cp1252'

In [6]:
# Save the original html file to text file
with open(pathhtml, 'w') as f:
    f.write(resp.text)

In [7]:
url = "http://www.cao.ie/index.php?page=points&p=2021"

r = rq.get(url2021)
#with open('file.txt', 'w') as file:
with open(pathhtml, 'w') as f:
    f.write(resp.text)

In [8]:
urlrq.urlretrieve("http://www2.cao.ie/points/l8.php", "test.txt" )

('test.txt', <http.client.HTTPMessage at 0x222287ba6d0>)

# Save original file

In [9]:
urlrq.urlretrieve ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx' , 'test.txt')

('test.txt', <http.client.HTTPMessage at 0x222287ba190>)

In [10]:
df = pd.read_excel ('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx', skiprows =11)

In [11]:
df

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
0,Engineering and engineering trades,Music and Instrument Technology,AL605,211,NaN,NaN,NaN,211,NaN,319,6,Athlone Institute of Technology,NaN,NaN,NaN
1,Health,Pharmacy Technician,AL630,308,NaN,NaN,NaN,308,NaN,409,6,Athlone Institute of Technology,NaN,NaN,NaN
2,Health,Dental Nursing,AL631,311,NaN,NaN,NaN,311,NaN,400,6,Athlone Institute of Technology,NaN,NaN,NaN
3,Biological and related sciences,Applied Science,AL632,297,NaN,NaN,NaN,297,NaN,454,6,Athlone Institute of Technology,NaN,NaN,NaN
4,Business and administration,Business,AL650,AQA,NaN,AQA,NaN,AQA,NaN,351,6,Athlone Institute of Technology,NaN,avp,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,Information and Communication Technologies (ICTs),Creative Computing,WD211,270,NaN,NaN,NaN,270,NaN,392,8,Waterford Institute of Technology,NaN,NaN,NaN
1447,Personal services,Recreation and Sport Management,WD212,262,NaN,NaN,NaN,262,NaN,304,8,Waterford Institute of Technology,NaN,NaN,NaN
1448,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,230,NaN,230,NaN,230,NaN,361,8,Waterford Institute of Technology,NaN,avp,NaN
1449,Welfare,Early Childhood Care and Education,WD231,266,NaN,NaN,NaN,266,NaN,366,8,Waterford Institute of Technology,NaN,NaN,NaN
1450,Business and administration,Business Information Systems,WD232,261,NaN,261,NaN,261,NaN,329,8,Waterford Institute of Technology,NaN,avp,NaN

In [12]:
#spot check of random row from data downloaded checking rows -13 to find
df.iloc [269]

CATEGORY (ISCED Description)                           Health
Course Title                            Mental Health Nursing
Course Code                                             CK720
R1 Points                                                 455
R1 Random                                                 NaN
R2 Points                                                 452
R2 Random                                                 NaN
EOS Points                                                452
EOS Random                                                NaN
EOS Midpoints                                             467
Course Level                                                8
HEI                             University College Cork (NUI)
Test/Interview                                            NaN
AVP                                                       NaN
v                                                         NaN
Name: 269, dtype: object

In [13]:
#check last row of data
df.iloc [1437]

CATEGORY (ISCED Description)          Business and administration
Course Title                          Marketing and Digital Media
Course Code                                                 WD193
R1 Points                                                     279
R1 Random                                                     NaN
R2 Points                                                     NaN
R2 Random                                                     NaN
EOS Points                                                    279
EOS Random                                                    NaN
EOS Midpoints                                                 358
Course Level                                                    8
HEI                             Waterford Institute of Technology
Test/Interview                                                NaN
AVP                                                           NaN
v                                                             NaN
Name: 1437, dtype: object

In [14]:
#fetching cao data from website
resp = rq.get ("http://www2.cao.ie/points/l8.php")
# check request, http code 200 means request has succeeded 
resp

In [15]:
# Loop through thr lines of the content fetched from cao website
#for line in resp.iter_lines():
    #print (line)

In [16]:

# Compile the regular expression for matching lines.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

In [17]:
# The file path for the csv file.
path2021 = 'data/cao2021_csv_' + nowstr + '.csv'

In [18]:
# Keep track of how many courses we process.
no_lines = 0

# Open the csv file for writing.
with open(path2021, 'w') as f:
    # Write a header row.
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    # Loop through lines of the response.
    for line in resp.iter_lines():
        # Decode the line, using the wrong encoding!
        dline = line.decode('cp1252')
        # Match only the lines representing courses.
        if re_course.fullmatch(dline):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            # The course code.
            course_code = dline[:5]
            # The course title.
            course_title = dline[7:57].strip()
            # Round one points.
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # Join the fields using a comma.
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            # Rejoin the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')

# Print the total number of processed lines.
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

In [19]:
df2021 = pd.read_csv(path2021, encoding='cp1252')

In [20]:
df2021

,code,title,pointsR1,pointsR2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
944,WD211,Creative Computing,270,NaN
945,WD212,Recreation and Sport Management,262,NaN
946,WD230,Mechanical and Manufacturing Engineering,230,230
947,WD231,Early Childhood Care and Education,266,NaN
948,WD232,Business Information Systems,261,261

# CAO points 2020

https://www.cao.ie/index.php?page=points&p=2020

In [21]:
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [22]:
# Create a file path for the original data.
pathxlsx = 'data/cao2020_' + nowstr + '.xlsx'

In [23]:
urlrq.urlretrieve(url2020, pathxlsx)

('data/cao2020_20211219_213457.xlsx',
 <http.client.HTTPMessage at 0x22228feaeb0>)

In [24]:
# Download and parse the excel spreadsheet.
df2020 = pd.read_excel(url2020, skiprows=10)

In [25]:
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CAO points 2019

https://www.cao.ie/index.php?page=points&p=2019

In [26]:
import camelot
import glob
import os
import csv

## Conversion of PDF into CSV

In [27]:
tables = camelot.read_pdf('lvl8_19.pdf', pages = 'all')
tables

In [28]:
tables.export('cao.2019.pdf', f='csv', compress=True) # json, excel, html, markdown, sqlite
tables[0]
#Table shape=(7, 7)
#tables[0].parsing_report
#{
    #'accuracy': 99.02,
    #'whitespace': 12.24,
   # 'order': 1,
   # 'page': 1
#}
#tables[0].to_csv('cao.19.pdf') # to_json, to_excel, to_html, to_markdown, to_sqlite
tables[0].df # get a pandas DataFrame!


#url2019 = 'http://www2.cao.ie/points/lvl8_19.pdf'

#url2019 ='https://www.irishtimes.com/polopoly_fs/1.3987209.1565878557!/menu/standard/file/cao2019.pdf'

,0,1,2,3
0,Course Code INSTITUTION and COURSE,,EOS,Mid
1,,Athlone Institute of Technology,,
2,AL801,Software Design with Virtual Reality and Gaming,304,328
3,AL802,Software Design with Cloud Computing,301,306
4,AL803,Software Design with Mobile Apps and Connected...,309,337
5,AL805,Network Management and Cloud Infrastructure,329,442
6,AL810,Quantity Surveying,307,349
7,AL820,Mechanical and Polymer Engineering,300,358
8,AL830,General Nursing,410,429
9,AL832,Psychiatric Nursing,387,403
10,AL836,Nutrition and Health Science,352,383
11,AL837,Sports Science with Exercise Physiology,351,392
12,AL838,Biotechnology,302,372
13,AL839,Microbiology,322,371
14,AL840,Pharmaceutical Sciences,328,411
15,AL841,Athletic and Rehabilitation Therapy,423,430
16,AL842,Bioveterinary Science,310,366
17,AL843,Physical Activity and Health Science,310,330
18,AL850,Business,307,356
19,AL851,Business and Law,301,341
20,AL852,Accounting (with optional placement),290,346
21,AL853,Accounting and Law,305,320
22,AL855,Hospitality Management (with International pla...,312,357
23,AL857,Digital Marketing,300,360
24,AL860,Social Care Practice,309,338
25,AL861,Animation and Illustration (portfolio),#615,899
26,AL863,Graphic and Digital Design (portfolio),#703,898
27,AL864,Early Years Care and Education,307,348
28,AL870,Applied Psychology,409,445
29,,"Institute of Technology, Carlow",,
30,CW018,"Business (options, Wexford)",327,349
31,CW028,Early Childhood Education and Care (Wexford),252,308
32,CW038,"Art (portfolio, Wexford)",#700,700
33,CW058,Tourism and Event Management (Wexford),252,262
34,CW068,Applied Social Studies - Professional Social C...,251,280
35,CW078,Sustainable Farm Management and Agribusiness (...,266,320
36,CW088,Visual Communications and Design (Wexford),309,345
37,CW108,Science (options),261,326
38,CW128,Brewing and Distilling,271,298
39,CW178,Sport Science (options),399,424
40,CW188,Sport Rehabilitation and Athletic Therapy,454,473
41,CW208,Computer Games Development,281,338
42,CW238,Software Development,300,343
43,CW248,Information Technology Management,307,357

In [29]:
# I was not successful in creating csv using camelot therefore used excalibur which is powered by camelot
#Excalibur downloaded 'cao.2019.pdf' into 18 seperate CSV files, I saved these file in a folder 2019_data 
#below i have concatenated all of them and saved them to a file called merged_2019_data.csv. 
#in Pandas you can use with mode=a within the .to_csv() which means append.


for file in os.listdir("2019_data"):
    if file.endswith(".csv"):
        tmp = pd.read_csv(os.path.join("2019_data", file))
        tmp.to_csv("merged_2019_data.csv", index=False, header=False, mode='a')

In [34]:
path2019 = 'merged_2019_data.csv' +nowstr + '.csv'

In [35]:
#using same regular expressions as for 2021 data
#try adding ... to end of re.compile

re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)[0-9]{3}(.*)')

In [36]:
# Keep track of how many courses we process.
no_lines = 0

# Open the csv file for writing.
with open(path2019, 'w') as f:
    # Write a header row.
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    # Loop through lines of the response.
    for line in resp.iter_lines():
        # Decode the line, using the wrong encoding!
        dline = line.decode('cp1252')
        # Match only the lines representing courses.
        if re_course.fullmatch(dline):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            # The course code.
            course_code = dline[:5]
            # The course title.
            course_title = dline[7:57].strip()
            # Round one points.
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # Join the fields using a comma.
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            # Rejoin the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')

# Print the total number of processed lines.
print(f"Total number of lines is {no_lines}.")

Total number of lines is 922.

In [37]:
df2019 = pd.read_csv(path2019)

In [38]:
df2019

,code,title,pointsR1,pointsR2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
917,WD211,Creative Computing,270,NaN
918,WD212,Recreation and Sport Management,262,NaN
919,WD230,Mechanical and Manufacturing Engineering,230,230
920,WD231,Early Childhood Care and Education,266,NaN
921,WD232,Business Information Systems,261,261

In [39]:
# check dataframe

#print first 5 lines
print (df2019.head())

    code                                              title pointsR1 pointsR2
0  AL801     Software Design for Virtual Reality and Gaming      300      NaN
1  AL802  Software Design in Artificial Intelligence for...      313      NaN
2  AL803  Software Design for Mobile Apps and Connected ...      350      NaN
3  AL805    Computer Engineering for Network Infrastructure      321      NaN
4  AL810                                 Quantity Surveying      328      NaN

In [40]:
#print last 5 lines
print (df2019.tail())

      code                                     title pointsR1 pointsR2
917  WD211                        Creative Computing      270      NaN
918  WD212           Recreation and Sport Management      262      NaN
919  WD230  Mechanical and Manufacturing Engineering      230      230
920  WD231        Early Childhood Care and Education      266      NaN
921  WD232              Business Information Systems      261      261

In [50]:
# get metadata of DataFrame
print(df2019.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      922 non-null    object
 1   title     922 non-null    object
 2   pointsR1  920 non-null    object
 3   pointsR2  254 non-null    object
dtypes: object(4)
memory usage: 28.9+ KB
None

## Concat and Join

In [41]:
courses2021 = df2021[['code', 'title']]
courses2021

      code                                              title
0    AL801     Software Design for Virtual Reality and Gaming
1    AL802  Software Design in Artificial Intelligence for...
2    AL803  Software Design for Mobile Apps and Connected ...
3    AL805    Computer Engineering for Network Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
944  WD211                                 Creative Computing
945  WD212                    Recreation and Sport Management
946  WD230           Mechanical and Manufacturing Engineering
947  WD231                 Early Childhood Care and Education
948  WD232                       Business Information Systems

[949 rows x 2 columns]

In [42]:
courses2020 = df2020[['COURSE CODE2','COURSE TITLE']]
courses2020.columns = ['code', 'title']
courses2020

       code                                              title
0     AC120                             International Business
1     AC137                                       Liberal Arts
2     AD101   First Year Art & Design (Common Entry,portfolio)
3     AD102  Graphic Design and Moving Image Design (portfo...
4     AD103  Textile & Surface Design and Jewellery & Objec...
...     ...                                                ...
1459  WD208                          Manufacturing Engineering
1460  WD210                       Software Systems Development
1461  WD211                                 Creative Computing
1462  WD212                    Recreation and Sport Management
1463  WD230           Mechanical and Manufacturing Engineering

[1464 rows x 2 columns]

In [43]:
courses2019 = df2019[['code', 'title']]
courses2019

      code                                              title
0    AL801     Software Design for Virtual Reality and Gaming
1    AL802  Software Design in Artificial Intelligence for...
2    AL803  Software Design for Mobile Apps and Connected ...
3    AL805    Computer Engineering for Network Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
917  WD211                                 Creative Computing
918  WD212                    Recreation and Sport Management
919  WD230           Mechanical and Manufacturing Engineering
920  WD231                 Early Childhood Care and Education
921  WD232                       Business Information Systems

[922 rows x 2 columns]

In [44]:
allcourses = pd.concat([courses2021, courses2020, courses2019], ignore_index=True)
allcourses

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
3330  WD211                                 Creative Computing
3331  WD212                    Recreation and Sport Management
3332  WD230           Mechanical and Manufacturing Engineering
3333  WD231                 Early Childhood Care and Education
3334  WD232                       Business Information Systems

[3335 rows x 2 columns]

In [45]:
allcourses.sort_values('code')

       code                                     title
175   AC120                    International Business
949   AC120                    International Business
2584  AC120                    International Business
950   AC137                              Liberal Arts
2585  AC137                              Liberal Arts
...     ...                                       ...
946   WD230  Mechanical and Manufacturing Engineering
947   WD231        Early Childhood Care and Education
3333  WD231        Early Childhood Care and Education
948   WD232              Business Information Systems
3334  WD232              Business Information Systems

[3335 rows x 2 columns]

In [46]:
allcourses.loc[175]['title']

'International Business'

In [47]:
# Finds all extra copies of duplicated rows.
allcourses[allcourses.duplicated()]

       code                                              title
949   AC120                             International Business
950   AC137                                       Liberal Arts
952   AD102  Graphic Design and Moving Image Design (portfo...
955   AD204                               Fine Art (portfolio)
956   AD211                         Fashion Design (portfolio)
...     ...                                                ...
3330  WD211                                 Creative Computing
3331  WD212                    Recreation and Sport Management
3332  WD230           Mechanical and Manufacturing Engineering
3333  WD231                 Early Childhood Care and Education
3334  WD232                       Business Information Systems

[1656 rows x 2 columns]

In [48]:
# Returns a copy of the data frame with duplciates removed - based only on code.
allcourses.drop_duplicates(subset=['code'], inplace=True, ignore_index=True)

In [49]:
allcourses

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
1512  WD188                                Applied Health Care
1513  WD205   Molecular Biology with Biopharmaceutical Science
1514  WD206                             Electronic Engineering
1515  WD207                             Mechanical Engineering
1516  WD208                          Manufacturing Engineering

[1517 rows x 2 columns]

## Join to points

References

Encoding error - backing up data video https://web.microsoftstream.com/video/ae6d6edd-e6f4-4201-9fe3-7a6cf06eea9d?referrer=https:%2F%2Flearnonline.gmit.ie%2F

Camelot -https://pypi.org/project/camelot-py/

Excalibur: PDF Table Extraction for Humans — Excalibur 0.4.3 documentation (excalibur-py.readthedocs.io)
https://excalibur-py.readthedocs.io/en/master/


How to Concatenate Multiple CSV files in Python – Predictive Hacks - https://predictivehacks.com/?all-tips=how-to-concatenate-multiple-csv-files-in-python